function sandbox() {
    return {
        hostname: 'abc.demandware.net',
        username : 'username',
        password: 'password'
    }
}

function generalConfig() {
    return {
        debug: false,
        rootWorkSpacePath: '/path/to/cartridges',
        // based on sfra & sitegenesis default folder structure
        foldersToExcludeFromSearch: [
            'config',
            'client',
            'static',
            'templates',
            'forms',
            'webreferences',
            'webreferences2',
            'pipelines',
            '.vscode',
            '.history',
            'node_modules',
            'doc',
            'bin',
            'src',
            'test',
            'storefront_refapp',
            '.settings'
        ]
    };
}

module.exports = sandbox();
module.exports.generalConfig = generalConfig();
